@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&display=swap");
*,
*:before,
*:after {
  font-family: "Maven Pro";
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background-image: url(../media/Header_Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .offer .header {
    height: 80px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .offer .header .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 60%; }
      .offer .header .nav-link {
        text-decoration: none;
        color: white; }
      .offer .header .nav ul {
        list-style: none;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .offer .header .nav ul .get-start {
          border: 1px solid #fff;
          padding: 10px 20px;
          text-transform: uppercase;
          border-radius: 100px; }
  .offer-text {
    color: #fff;
    text-align: center; }
    .offer-text h1 {
      font-size: 86px;
      font-weight: 500;
      line-height: 72px; }
    .offer-text p {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px; }
    .offer-text span {
      font-weight: 700;
      line-height: 32px; }
    .offer-text span::after {
      content: '';
      background-color: #fff;
      width: 20px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
    .offer-text span::before {
      content: '';
      background-color: #fff;
      width: 20px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
  .offer-arrow {
    height: 130px; }

.tariffs {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1100px;
  background-color: #f9fafc;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .tariffs-text {
    margin-top: 30px;
    text-align: center; }
    .tariffs-text h2 {
      color: #4f4f6f;
      font-size: 60px;
      font-weight: 500;
      line-height: 32px; }
    .tariffs-text p {
      color: #9fa4af;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px; }
    .tariffs-text span {
      color: #9fa4af;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 22px; }
    .tariffs-text span::after {
      content: '';
      background-color: #6e45e2;
      width: 20px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
    .tariffs-text span::before {
      content: '';
      background-color: #6e45e2;
      width: 20px;
      height: 1px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
  .tariffs-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    max-width: 1600px; }
    .tariffs-row-block {
      width: 440px;
      height: 608px;
      border-radius: 30px;
      border: 1px solid #d7dbe8;
      background-color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 40px;
      text-align: center;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .tariffs-row-block:hover {
        -webkit-box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
        box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71); }
      .tariffs-row-block h3 {
        color: #9fa4af;
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase; }
      .tariffs-row-block span {
        font-size: 60px;
        color: #4f4f6f;
        font-weight: 500;
        line-height: 72px; }
      .tariffs-row-block sub {
        font-size: 18px; }
      .tariffs-row-block sup {
        font-size: 16px; }
      .tariffs-row-block p {
        color: #9fa4af;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; }
      .tariffs-row-block button {
        -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
        box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
        border-radius: 25px;
        border: 1px solid #d7dbe8;
        background-color: #ffffff;
        padding: 10px 34px;
        color: #c2c9db;
        font-size: 12px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .tariffs-row-block button:hover {
          color: #ffffff;
          background-color: #6e45e2; }

.lead {
  height: 522px;
  background-color: #f9fafc;
  background-image: url(../media/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: white; }
  .lead span {
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase; }
  .lead h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 72px; }
  .lead button {
    -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
    border-radius: 25px;
    border: 1px solid #d7dbe8;
    background-color: #ffffff;
    padding: 10px 34px;
    color: #c2c9db;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .lead button:hover {
      color: #ffffff;
      background-color: #6e45e2;
      border: 1px solid #6e45e2;
      -webkit-box-shadow: none;
      box-shadow: none; }

.footer {
  height: 150px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer-inner {
    width: 95%;
    height: 100%; }
    .footer-inner hr {
      opacity: 0.2; }
    .footer-inner .footer1 {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .footer-inner .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 60%; }
      .footer-inner .nav-link {
        text-decoration: none;
        color: black; }
      .footer-inner .nav ul {
        list-style: none;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .footer-inner .nav ul .get-start {
          border: 1px solid #black;
          padding: 10px 20px;
          text-transform: uppercase;
          border-radius: 100px; }

@media (max-width: 1100px) {
  .offer .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px; }
    .offer .header .nav {
      min-width: 600px;
      position: relative; }
  .tariffs {
    min-height: 2300px; }
  .tariffs-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .tariffs-row-block {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px; } }

@media (max-width: 1100px) {
  .footer-inner .footer1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 200px; }
    .footer-inner .footer1 .nav {
      margin-top: -50px;
      min-width: 600px;
      position: relative; } }

@media (max-width: 650px) {
  .nav-link.get-start {
    position: absolute;
    top: 60px;
    margin-bottom: 20px; }
  .footer-inner .footer1 .nav {
    min-width: 350px;
    width: 100%; }
    .footer-inner .footer1 .nav ul {
      padding: 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .get-start-li {
    position: absolute;
    left: 50%;
    margin-left: -71px;
    width: 150px; }
  .offer .header .nav {
    min-width: 350px;
    position: relative;
    width: 100%; }
    .offer .header .nav ul {
      padding: 0; } }
