@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&display=swap');
*,
*:before,
*:after {
    font-family: "Maven Pro";
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background-image: url(../media/Header_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .header {
        height: 80px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .nav {
            display: flex;
            width: 60%;
            &-link {
                text-decoration: none;
                color: white;
            }
            ul {
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: space-around;
                .get-start {
                    border: 1px solid #fff;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    border-radius: 100px;
                }
            }
        }
    }
    &-text {
        color: #fff;
        text-align: center;
        h1 {
            font-size: 86px;
            font-weight: 500;
            line-height: 72px
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
        span {
            font-weight: 700;
            line-height: 32px;
        }
        span::after {
            content: '';
            background-color: #fff;
            width: 20px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
        }
        span::before {
            content: '';
            background-color: #fff;
            width: 20px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
    }
    &-arrow {
        height: 130px;
    }
}

.tariffs {
    padding-bottom: 30px;
    display: flex;
    height: 1100px;
    background-color: #f9fafc;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &-text {
        margin-top: 30px;
        text-align: center;
        h2 {
            color: #4f4f6f;
            font-size: 60px;
            font-weight: 500;
            line-height: 32px;
        }
        p {
            color: #9fa4af;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
        span {
            color: #9fa4af;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 22px;
        }
        span::after {
            content: '';
            background-color: #6e45e2;
            width: 20px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
        }
        span::before {
            content: '';
            background-color: #6e45e2;
            width: 20px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
    }
    &-row {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1600px;
        &-block {
            width: 440px;
            height: 608px;
            border-radius: 30px;
            border: 1px solid #d7dbe8;
            background-color: #ffffff;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            text-align: center;
            transition: 0.5s;
            &:hover {
                box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
            }
            h3 {
                color: #9fa4af;
                font-size: 14px;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
            }
            span {
                font-size: 60px;
                color: #4f4f6f;
                font-weight: 500;
                line-height: 72px;
            }
            sub {
                font-size: 18px;
            }
            sup {
                font-size: 16px;
            }
            p {
                color: #9fa4af;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
            button {
                box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
                border-radius: 25px;
                border: 1px solid #d7dbe8;
                background-color: #ffffff;
                padding: 10px 34px;
                color: #c2c9db;
                font-size: 12px;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
                transition: 0.5s;
                &:hover {
                    color: #ffffff;
                    background-color: #6e45e2;
                }
            }
        }
    }
}

.lead {
    height: 522px;
    background-color: #f9fafc;
    background-image: url(../media/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    color: white;
    span {
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 60px;
        font-weight: 500;
        line-height: 72px;
    }
    button {
        box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
        border-radius: 25px;
        border: 1px solid #d7dbe8;
        background-color: #ffffff;
        padding: 10px 34px;
        color: #c2c9db;
        font-size: 12px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
            color: #ffffff;
            background-color: #6e45e2;
            border: 1px solid #6e45e2;
            box-shadow: none;
        }
    }
}

.footer {
    height: 150px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    &-inner {
        width: 95%;
        height: 100%;
        hr {
            opacity: 0.2;
        }
        .footer1 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav {
            display: flex;
            width: 60%;
            &-link {
                text-decoration: none;
                color: black;
            }
            ul {
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: space-around;
                .get-start {
                    border: 1px solid #black;
                    padding: 10px 20px;
                    text-transform: uppercase;
                    border-radius: 100px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .offer {
        .header {
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            .nav {
                min-width: 600px;
                position: relative;
            }
        }
    }
    .tariffs {
        min-height: 2300px;
    }
    .tariffs-row {
        flex-direction: column;
        align-items: center;
    }
    .tariffs-row-block {
        max-width: 600px;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1100px) {
    .footer-inner .footer1 {
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        .nav {
            margin-top: -50px;
            min-width: 600px;
            position: relative;
        }
    }
}

@media (max-width: 650px) {
    .nav-link.get-start {
        position: absolute;
        top: 60px;
        margin-bottom: 20px;
    }
    .footer-inner .footer1 .nav {
        min-width: 350px;
        width: 100%;
        ul {
            padding: 0;
            justify-content: space-between;
        }
    }
    .get-start-li {
        position: absolute;
        left: 50%;
        margin-left: -71px;
        width: 150px;
    }
    .offer {
        .header {
            .nav {
                min-width: 350px;
                position: relative;
                width: 100%;
                ul {
                    padding: 0;
                }
            }
        }
    }
}